*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plain light";
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

#cursor{
    height: 2.5vw;
    width: 2.5vw;
    /* background-color: #fff; */
    border-radius: 50%;
    border: 2px solid #ffffff98;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0bcd;
    padding: 15vh 6vw;
}


.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background-color: red; */
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
    /* background-color: red; */
}

.line h1{
    font-size: 7vw;
    text-transform: uppercase;
}

.line h2{
    /* background-color: red; */
    max-height: 8vw;
    font-size: 6vw;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;

    }40%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }60%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        font-weight: 600;
        opacity: 1;
    }100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        font-weight: 600;
        opacity: 0;
    }
} 

#main{
    position: relative;
    background-color: #000;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    /* background-color: red; */

}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 6vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-weight: 100;
    font-size: 1vw;
}


.page1-heading{
    /* background-color: red; */
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.page1-heading:nth-child(2){
    margin-top: 18vh;
}

.page1-heading h1{
    font-size: 7.3vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    letter-spacing: .3vw;
}

#hero3{
    display: flex;
    
}

.page1-heading h2{
    font-size: 7.3vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    letter-spacing: .3vw;
}

.page1-heading h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}